.content-all{
    padding: 20px;
    width: 100%;
}
.done > h1{
    color: green;
}
.notDone> h1{
    margin-top: 100px;
    color: Red;
}
.deleteTask{
    background-color: #1a73e8; 
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.smallbox-container{
    margin-bottom: 10px;
    /* background-color: #f8f9fa; */
    padding: 10px;
    border-radius: 10px;

}