.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.cont{
    width: 80%;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cont-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-details> textarea{
    border-radius: 5px;
    width: 100%;
    height: 80px;
    margin-top: 10px;
}
.cont-details> button{
    font-size: 20px;
    text-align: center;
    background-color: #1a73e8;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    margin-top: 10px;
    color: white;
    border: 0px solid;
    cursor: pointer;
}
.cont>p>span{
    font-weight: bold;
}
#label{
    font-weight: bold;
}